.mcontainer{
  display: grid;
  place-items: center;
  position:absolute;
  padding:5vh;
  top:0vh;
  left:0vh;
  tranform:translate(0vh, 0vh);
  color:white;
  font-size:6vh;

}

.typed {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
}
  
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking {
  0% {border-color: transparent}
  50% {border-color: black}
  100% {border-color: transparent}
}
.container video{
    position:relative;
    width:100%;
    height:0%;
}

.text-box{
    position:absolute;
    top:0;
    left:0;
    color:white;
}

.product{
    position:absolute;
    top:0;
    right:0;
    padding:30px;
    font-size:5px;
    border-bottom:1px solid;
}
.big{
    font-size:22px;
}
#logos{
    padding:10px;
}
#lagos{
    padding:10px;
}
/* Default styles */
/* ... */

/* Styles for smaller screens */
@media (max-width: 768px) {
  /* Adjust content styles for smaller screens */
  /* ... */
}

/* Styles for medium-sized screens */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Adjust content styles for medium-sized screens */
  /* ... */
}

/* Styles for larger screens */
@media (min-width: 1025px) {
  /* Adjust content styles for larger screens */
  /* ... */
}
